@font-face {
    font-family: 'Twitter Icon';
    src: url('../fonts/twittericon.ttf') format('truetype'),
        url('../fonts/twittericon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ti-"],
[class*=" ti-"] {
    font-family: 'Twitter Icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti-square-x-twitter:before {
    content: "\e900";
}

.ti-x-twitter:before {
    content: "\e901";
}