.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.widget-content .attachment-media-view {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.widget-content .placeholder {
    width: 100%;
    position: relative;
    text-align: center;
    cursor: default;
    border: 1px dashed #b4b9be;
    box-sizing: border-box;
    padding: 9px 0;
    line-height: 20px;
}

.widget-content .actions {
    margin-top: 8px;
}

.widget-content .hidden {
    display: none;
}

.widget-content .alignright {
    float: right;
}

.widget-content .alignleft {
    float: left;
}

.viral-sidebar-layouts {
    margin-bottom: 15px;
}

.viral-sidebar-layouts label {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
}

.viral-sidebar-layouts label input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.viral-sidebar-layouts label img {
    vertical-align: middle;
    border: 2px solid #eeeeee;
    width: 90px;
}

.viral-sidebar-layouts label input:checked + img {
    border: 2px solid #007CBD;
}

[data-slug="elementor"] .go_pro,
a[href="admin.php?page=go_elementor_pro"],
a[href="admin.php?page=elementor_custom_fonts"],
a[href="admin.php?page=elementor_custom_icons"],
a[href="admin.php?page=elementor_custom_code"],
a[href="admin.php?page=e-form-submissions"],
#elementor-notice-bar {
    display: none !important;
}