.vn-main-navigation .vn-toggled-on .vn-menu{
    display: block;
}

@media screen and (max-width: 1000px){
    #vn-amp-navigation{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
    }
}

.vn-carousel-block-wrap .vn-post-item{
    padding: 0 10px;
}

